{% extends "!layout.html" %}
{%- set rellinks = [] %}
{% block rootrellink %}</pre>
<ul>
	<li><a href="index.html">Home</a> |</li>
	<li><a href="resume.html">Resume</a> |</li>
	<li><a href="projects.html">Projects</a> |</li>
	<li><a href="contact.html">Contact</a></li>
	<li>{% endblock %}
{% block relbar2 %}
{% endblock %}
